<h1> Produtos </h1>
<p>Usuário logado: <%=current_user.email%></p>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Tipo</th>
      <th scope="col">Fornecedor</th>
    </tr>
  </thead>
<%@product.each do |product|%>
    <tbody>
      <tr>
        <td><%=product.name%></td>
        <td><%=product.productgenre%></td>
        <td><%=product.provider.name%></td>
      </tr>
    </tbody>
  </table>
<%end%>